:root{ 
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /*Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,p{ 
    margin: 0;
}

body{ 
    font-family: 'Spartan', sans-serif;
    background-image: url(images/bg-pattern-top-desktop.svg) , url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left, right;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding-inline: 5rem;
}

.container{ 
    width: min(65rem , 90%);
    margin: 5rem auto;
}

main{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro{ 
    flex-basis: 38ch;
    line-height: 1.7;
}

.intro h1{ 
    color: var(--very-dark-magenta);
    font-size: 3.5rem;
    line-height: 1.1;
}

.intro p{ 
    color: var(--dark-grayish-magenta);
    max-width: 40ch;
    font-weight: 500;
    margin: 0.75rem 0;
}

.ratings{ 
    transform: translateX(-30%);
}

.ratings .rating{ 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    background-color: var(--light-grayish-magenta);
    margin-block: 1rem;
    padding: 1.1rem 2rem;
    border-radius: 0.35rem;
    transform: translateX(10%);
}

.ratings .rating:nth-child(2){ 
    transform: translateX(20%);
}

.ratings .rating:nth-child(3){ 
    transform: translateX(30%);
}

.ratings .rating p{ 
    font-weight: bold;
    color: var(--very-dark-magenta);
    font-size: 0.8em;
}

.cards{ 
    margin-top: 3.5rem;
    display: flex;
    gap: 2rem;
    width: 100%;
}

.card{ 
    background-color: var(--very-dark-magenta);
    color: var(--light-grayish-magenta);
    padding: 2rem;
    border-radius: 0.65rem;
    flex: 1;
}

.card-header{ 
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.card-header .avatar{ 
    --size:2.5em;
    border-radius: 50%;
    width:var(--size) ;
    height: var(--size);
    margin-right: 1em;
}

.card-header .info{ 
    font-size: 0.9em;
}

.card-header .info .name{ 
    font-weight: bold;
}
.card-header .info .job{ 
    color: hsla(333, 80%, 67% , 0.7);
    margin-top: 0.2rem;
}

.card:nth-child(2){ 
    transform: translateY(10%);
}
.card:nth-child(3){ 
    transform: translateY(20%);
}

.card blockquote{ 
    font-size: 0.85rem;
    line-height: 1.5;
}

@media(max-width:1190px){ 
    main{ 
        flex-direction: column;
        justify-content: center; 
    }

    .ratings{ 
        width: 100%;
    }

    .ratings , .rating{ 
        transform: translateX(0) !important;
    }

    .intro{ 
        flex-basis: initial;
        text-align: center;
    }

    .intro h1{ 
        font-size: 2.5rem;
    }

    .intro p { 
        margin: 3rem auto;
    }
}

@media(max-width:860px){ 
    .cards{ 
        flex-direction: column;
    }
}

@media(max-width:500px){ 
    body{ 
        padding: 0;
    }

    .rating{ 
        flex-direction: column;
    }
}